.navbar-brand {
  padding: 5px 20px 0 20px;
}

body.snapjs-left {
  width: 100% !important;
  overflow-x: hidden;
}

#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0 10px 0;
  background: @body-bg;
  z-index: 3;

  .container {
    padding-left: 0;
    position: relative;
    z-index: 4;
    padding-right: 0;
  }
}

#flash-message {
  position: absolute;
  top: 15px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  z-index: 9999;
}

footer {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  ul {
    margin-bottom: 0;
  }
}

.btn {
  &-twitter, &-facebook {
    margin: 10px auto 0;
    display: inline-block;
    color: #fff !important;
    text-align: left;
    line-height: 35px;
    font-size: @font-size-lg;
    width: 240px;
    padding: 5px 10px !important;

    &:hover {
      color: #fff;
    }
  }
  &-twitter {
    margin-left: 10px;
    background: #55acee;

    &:hover {
      background: darken(#55acee, 8%) !important;
    }
    &:active {
      background: darken(#55acee, 11%) !important;
    }
  }
  &-facebook {
    background: #3b5998;
    margin-left: 10px;

    &:hover {
      background: darken(#3b5998, 8%) !important;
    }
    &:active {
      background: darken(#3b5998, 11%) !important;
    }
  }
}

.avatar{
  width: 40px;
  height: 40px;
  margin-top: -5px;
  margin-right: 5px;
}

/*
Bootbox (Confirm Dialog)
 */

.notifier {
  position: fixed;
  display: none;
  top: 7px;
  left: 50%;
  font-size: 14px;
  padding: 8px 1.3em;
  z-index: 9999;
}


.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

#progress {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  .box-shadow(none);
}

.profile-card {
  margin: 0 auto;
  float: none;
  clear: both;
  width: 300px;
}



#sidebar {
  position: fixed;
  z-index:auto;
  top: 0;
  left: 0;
  bottom: 0;
  outline: none;
  background-color: #191918;

  max-height: 100%;
  ul {
    margin: 0;
    padding: 0;
  }
}

.site-main {
  height: 100%;
  position: relative;
  .transition(-webkit-transform .2s cubic-bezier(.2, .3, .25, .9));

  .promo-title {
    margin: 0;
    padding: 0;
    font-size: 41px;
    line-height:39px;
    font-weight: 700;

    strong {
      color: lighten(@brand-primary, 5%);
    }
  }
}

.u-fill {
  height: 100% !important;
  width: 100% !important;

  &.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}


.promo {
  z-index: 2;
  display: block;
  .box-sizing(border-box);
  height: 100%;
  width: 100%;
  top: 0;

  &:before,
  &:after {
    display: table;
    content: " ";
  }
}

.promo-bg {
  background-position: right top;
  background-image: url(../img/home-promo-bg.jpg);
  background-size: cover;
  position: absolute;
  z-index: 1;

  &.not-found-404 {
    background-image: url(../img/404.jpg);
  }
}

.promo-content {
  height: 100%;
  outline: 0;
}

.promo-inner {
  position: relative;
  z-index: 5;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.promo-fill, .not-found-fill {
  width: 100% !important;
  max-height: 100%;
  display: inline-block;
  vertical-align: top;
  z-index: 5;
}
.not-found-fill {
  vertical-align: middle;

  .buzzme-logo {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -50px;
    z-index: 10;
  }
  .fa-frown-o,
  .pull-left {
    font-size: 140px;
    line-height: 120px;
    font-weight: 100;
  }
  .pull-left {
    font-weight: 400;
  }
  p {
    font-size: 50px;
    line-height: 50px;
  }
  .error-message-text {
    font-size: 30px;
    font-weight: 200;
  }
  a {
    color: @brand-primary;
  }
}

.image-banner {
  height: 450px;
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background: rgba(0,0,0,0.9);

  .image-banner-src {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/banner.jpg);
  }
  .overlay-banner {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background: rgba(0,0,0,0.5);
  }
}


.nav {
  &.nav-user {
    .avatar {
      background: @brand-primary;
      img {
        .transition(all 0.5s ease);
        &:hover {
          .opacity(0.5);
        }
      }
    }
    &.buzzer {
      > li {
        > a {
          &:hover, &:focus {
            background: none
          }
        }
      }
    }
  }
}
